@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  background-color: whitesmoke;
}

.logo {
  width: 55%;
  padding: 0px 10px 0px 10px;
}
.row {
  --bs-gutter-x: 0rem !important;
}
.button {
  text-decoration: none;
  background-color: #4421a4;
  width: 100%;
  color: white;
  height: 40px;
  padding: 8px 10px 2px 10px;
}
.nav-item,
.button {
  font-family: "GT America Extended", Sans-serif !important;
}

@media (min-width: 991px) {
  .row1 {
    margin: 0 100px 0 100px;
  }
  .navbar-nav {
    position: absolute !important;
    right: 0;
  }
  .nav-item {
    font-family: "GT America Extended", Sans-serif !important;
    padding: 0 0 0 15px;
    font-size: medium;
    font-weight: 600 !important;
    margin: 10px 0 10px 0;
  }
  .button {
    font-family: "GT America Extended", Sans-serif !important;
    font-size: medium;
    padding: 8px 10px 2px 10px;
    text-align: center;
    background-color: #4421a4;
    color: white;
    border: 0;
    font-weight: normal;
  }
  .allignment {
    text-align: left !important;
  }
  .vl {
    border-left: 1px solid black;
    margin: 15px;
  }
}

.navbar-nav {
  text-align: center;
}
.brand-name {
  font-size: 45px;
  text-align: center !important;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid #3498db;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.2s;
  text-decoration: none;
}

.btn-get-started:hover {
  background-color: white !important;
  color: #fff;
}
.image {
  width: max-content;
}
div.row {
  padding: 20px 0px;
}

ul.navbar-nav {
  background-color: whitesmoke !important;
}

.navbar-light .navbar-toggler {
  padding: 0;
  border-color: whitesmoke;
  color: orange !important;
  position: absolute;
  right: 0;
  top: 20px;
}

h4 {
  font-family: "GT America Extended", Sans-serif !important;
  letter-spacing: 1.2px;
  font-size: large;
}
.brand-name {
  font-size: 7.8vh;
  font-weight: 510 !important;
  letter-spacing: 2px;
  height: 50%;
}
.Button {
  text-decoration: none;
  font-family: "GT America Extended", Sans-serif !important;
  font-size: x-large;
  background-color: #4421a4;
  color: white;
  padding: 8px 20px 8px 20px;
}
.mt-3 :hover {
  background-color: #6948c5 !important;
  color: white !important;
  transition: 00.5s;
}
.nav-item :hover {
  color: #4421a4 !important;
}
.new :hover {
  background-color: #6948c5 !important;
  color: white !important;
}

@media (min-width: 991px) and (max-width: 1146px) {
  .allignment {
    text-align: left;
  }
  .vl {
    border-left: 1px solid black;
    margin: 15px;
  }
  .nav-item {
    padding: 0 0 0 5px;
    font-size: small;
  }
}

@media (max-width: 769px) {
  .navbar-toggler {
    padding-top: 0.8vw !important;
  }
  .navbar {
    position: absolute !important;
  }
  .brand-name {
    font-size: 150%;
  }
  .logo {
    width: 40vw;
  }
  .pt-5 {
    padding: 0 !important;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: normal;
}
.menu_active {
  color: #6948c5 !important;
}
.commonClass {
  font-family: "GT America Extended", Sans-serif;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 991px) {
  .navbar {
    position: absolute !important;
  }
  .pt-5 {
    padding: 0 !important;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: normal;
  }
  .menu_active {
    color: #6948c5 !important;
  }
  .commonClass {
    font-family: "GT America Extended", Sans-serif;
    text-align: center;
    padding-top: 50px;
  }
}
